<section id="payment">
    <button mat-fab-button class="close-button" (click)="closeSelf()">X
    </button>

    <div mat-dialog-content class="payment-content">
       <img src="BNB_Simple.png" width=200 alt="QR alter">
       <div class="payment-detail">
        <h3> {{data.product.name}} </h3>
        <p> {{data.product.price}} Bs</p>
        <p>
            {{data.product.description ?? data.product.name}} 
        </p>
        <div mat-dialog-actions class="buttons">
            <button mat-flat-button id="download-button">Descargar</button>
            <button mat-flat-button id="paid-button"
                [mat-dialog-close]="true"
            >Ya realize el pago</button>
        </div>
       </div> 
    </div>
    
</section>
