.section#payment {
    width: '500px'
}

.payment-content{
    display: flex;
    padding: 30px;
    gap: 30px;
    align-content: center;
    align-items: center;
}

.payment-detail {
   
}

.close-button {
    position: absolute;
    right: 0;
    margin: 5px;
}

.paid-button {
    background-color: #bd0000;
    border: 2px dashed #bd0000;
    color: white;
}
.paid-button:hover {
    background: #660808;
}