<div class="card">
    <div class="product-image">
      <img [src]="product.productImage" alt="Producto">
      <button class="buy-button" [routerLink]="['/productos', product.id]">Comprar</button>
    </div>
    <div class="details">
        <p class="name">{{product.productName}}</p>
        <p class="category">{{product.productBrand}}</p>
        <p class="price">{{product.productPrice | currency : '': '' }} Bs </p>
        <button class="mobile-buy-button" [routerLink]="['/productos', product.id]"> Comprar </button>
    </div>
</div>