.product-list-section{
    padding: 0 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100% ; /* Aplicar a demas componentes */
        max-width: 1400px; /* Aplicar a demas componentes */
        h1{
            font-size: 20px;
            font-weight: 500;
        }
        .filter{
            cursor: pointer;
            height: 40px;
            width: 87px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: transparent;
            border: 1px solid #686868;
        }
    }
}

.products-container {
    display: grid;
    padding: 20px 0 0 0;
    grid-template-columns: repeat( auto-fit, minmax(150px, 1fr) );
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
}