.dropdown {
  position: relative;
}

.dropbtn {
  background-color: white;
  color: black;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  gap: 6px;
}

.dropdown:hover .dropbtn,
.dropdown:focus-within .dropbtn {
  background-color: #C2C2C2;
  text-shadow: 0 4px 4px rgba(0,0,0,0.4); /* X, Y, blur, color */
}


.dropdown-content {
  position: relative;
  background-color: #C2C2C2;
  min-width: 125px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  z-index: 1;
  top: 100%;
  left: 0;
  overflow: hidden;
}

.dropdown-content a {
  color: black;
  padding: 10px 20px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: white;
}


.navbar-section{
  height: 76px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #aeaeae;

  nav{
    height: 44px;
    width: 100% ; /* Aplicar a demas componentes */
    max-width: 1400px; /* Aplicar a demas componentes */
    display: flex;
    justify-content: space-between;
    .left, .right{
        display: flex;
        align-items: center;
    }

    .left .logo{
        margin: 10px;
        font-size: 30px;
        cursor: pointer;
    }
}

@media (max-width: 768px){
    border-bottom: 1px solid #d3d3d3;
    nav .left .logo{
        margin: 15px;/* aplicar a demas componentes, tal vez a la derecha tmbn */
        font-size: 30px;
        cursor: pointer;

    }
    nav .right {
        display: flex;
        align-items: center;
        justify-content:end;

    }
}
}
