.customer-navbar{}

.navbar-section{
    height: 76px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #686868;
    nav{
        height: 44px;
        width: 100% ; /* Aplicar a demas componentes */
        max-width: 1400px; /* Aplicar a demas componentes */
        display: flex;
        justify-content: space-between;
        .left, .right{
            display: flex;
            align-items: center;
        }
        .left .logo{
            font-size: 30px;
        }
        .right .search-bar{
            position: relative;
            display: flex;
            align-items: center;
            input{
                width: 430px;
                height: 44px;
                background-color: rgb(240, 240, 240);
                font-size: 15px;
                border: none;
                padding-left: 14px;
            }
            button{
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
                border: none;
                position: absolute;
                right: 0;
                height: 30px;
                margin-right: 10px;
                background-color: transparent;
                color: #242424;
            }
              
        }
        .right .menu{
            margin-left: 20px; 
            display: flex;
            align-items: center;
            
            button{
                color: #242424;
                cursor: pointer;
                display: flex;
                align-items: center;
                border: none;
                font-size: 15px;
                background-color: transparent;
            }
        }
    }
}

.categories-section{
    border-bottom: 1px solid #686868;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    .categories-list{
        display: flex;
        width: 100% ; /* Aplicar a demas componentes */
        max-width: 1400px; /* Aplicar a demas componentes */
        list-style: none;
        li{
            margin-right: 32px;
            font-size: 15px;
            font-weight: 500;
            cursor: pointer;
            color: #242424;
        }
    }
}