<article class="customer-navbar">
    <section class="navbar-section">
        <nav>
            <div class="left">
                <div class="logo">VAQUITA</div>
            </div>
            <div class="right">
                <div class="search-bar">
                    <input type="text" placeholder="Buscar productos">
                    <button>
                        <span class="material-symbols-outlined">
                            search
                        </span>
                    </button>
                </div>
                <div class="menu">
                    <button>
                        Menu
                        <span class="material-symbols-outlined">
                            keyboard_arrow_down
                        </span>
                    </button>
                </div>
            </div>
        </nav>
    </section>

    <section class="categories-section">
        <ul class="categories-list">
            <li>
                Todas los productos
            </li>
            <li>
                Bebidas
            </li>
            <li>
                Mascotas
            </li>
            <li>
                Oficina
            </li>
        </ul>
    </section>
</article>

