<article class="customer-navbar">
    <section class="navbar-section">
        <nav>
            <div class="left">
                <div class="logo">VAQUITA</div>
            </div>
            <div class="right">
                <div class="search-bar">
                    <input type="text" placeholder="Buscar productos" [(ngModel)]="searchTerm">
                    <button  (click)="onSearchTerm()">
                        <span class="material-symbols-outlined">
                            search
                        </span>
                    </button>
                </div>
                <div class="menu">
                    <button class="menu-button">
                        <div class="title">Menu</div>
                        <span class="material-symbols-outlined desktop">
                            keyboard_arrow_down
                        </span>
                        <div class="dropdown-menu">
                            <ul>
                                <li>
                                    pagina 1
                                </li>
                                <li>
                                    pagina 2
                                </li>
                                <li>
                                    pagina 3
                                </li>
                                <li>
                                    pagina 4
                                </li>
                            </ul>
                        </div>
                        <span class="material-symbols-outlined mobile">
                            menu
                        </span>
                    </button>
                </div>
            </div>
        </nav>
    </section>

    <section class="categories-section">
        <ul class="categories-list">
            <li *ngFor="let category of categories" (click)="onCategorySelect(category.id)" ngClass="{{category.id === selectedCategoryId ? 'active' : ''}}">
                {{category.name}}
            </li>
        </ul>
    </section>
</article>

