<article class="customer-navbar">
    <section class="navbar-section">
        <nav>
            <div class="left">
                <div class="logo" (click)="redirectHome()">VAQUITA</div>
            </div>
            <div class="right">
                <div class="search-bar">
                    <input type="text" placeholder="Buscar productos" [(ngModel)]="searchTerm">
                    <button  (click)="onSearchTerm()">
                        <span class="material-symbols-outlined">
                            search
                        </span>
                    </button>
                </div>
                <div class="menu">
                    <button class="menu-button">
                        <div class="title">Menu</div>
                        <span class="material-symbols-outlined desktop">
                            keyboard_arrow_down
                        </span>
                        <span class="material-symbols-outlined mobile" (click)="toggleMobileMenu()">
                            menu
                        </span>
                        <div class="overlay" *ngIf="isMobileMenuOpen" (click)="toggleMobileMenu()"></div>
                        <div class="dropdown-menu" ngClass="{{isMobileMenuOpen? 'open' : 'closed'}}" (click)="$event.stopPropagation()">
                            <ul>
                                <li>
                                    Iniciar sesion
                                </li>
                                <li (click)="redirectVendedor()">
                                    Vendedor
                                </li>
                                <li>
                                    Mis compras
                                </li>
                                <li>
                                    ¿quieres vender en Vaquita?
                                </li>
                                <li>
                                    Sobre nosotros
                                </li>
                            </ul>
                        </div>
                    </button>
                </div>
            </div>
        </nav>
    </section>

    <section *ngIf="showVideo" class="video-section">
        <lite-youtube class="youtube-video" videoid="km9-1H3hzhw"></lite-youtube>
    </section>

    <section class="categories-section">
        <ul class="categories-list">
            <li *ngFor="let category of categories" (click)="onCategorySelect(category.id)" ngClass="{{category.id === selectedCategoryId ? 'active' : ''}}">
                {{category.name}}
            </li>
        </ul>
    </section>
</article>

