
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Rubik,
    density: 0,
  ));
}

mat-card {
  background-color: white;
  min-width: 150px;
  border-radius: 30px;
  box-shadow: 5px 5px 5px 5px rgb(22, 22, 32);
  padding: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
mat-card img {
  
    max-width: 290px;
    max-height: 200px;
    overflow: hidden;
    object-fit: contain;
    border-radius: 20px;
}

mat-button {
  box-shadow: 2px 2px  rgb(22, 22, 32);
}
